@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
/* font-family: 'Montserrat', sans-serif; */

body {
  display: flex;
  flex-direction: row;

  font-family: "Montserrat", sans-serif;
  background-color: #e6ccb2;
  color: #f4f3ee;
}

/* menu */

.menu {
  width: 20%;
  height: 100vh;
  padding: 10px;
  z-index: 99;
  border-right: 3px solid #b08968;
  position: relative;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
  background-color: #ddb892;
  transform: translateX(-100%);
}
.menu-btn {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: -65px;
  top: 50%;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;

  left: 50%;
  margin-left: -10px;
  top: 50%;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  transition: all 0.2s;
}
.menu-btn span::before {
  transform: translateY(-7px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn-active span::before {
  transform: rotate(45deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn-active span::after {
  transform: rotate(-45deg);
  width: 10px;
  transform-origin: left top;
}

.menu-active {
  transform: translateX(0%);
}
.menu-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f4f3ee;
}
.menu-photo {
  width: 220px;
  border-radius: 25px;
}
.fullname {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f4f3ee;
}
.nav-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.nav-link {
  color: #f4f3ee;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  color: #b08968;
  transform: scale(1.1);
}
.nav-item {
  font-size: 1.1rem;
}
.menu-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.social-link {
  color: #f4f3ee;
}
.e-mail {
  width: 40px;
  transition: all 0.1s ease-in;
}
.e-mail:hover {
  transform: scale(1.2);
}
.telegram {
  width: 40px;
  transition: all 0.1s ease-in;
}
.telegram:hover {
  transform: scale(1.2);
}
.instagram {
  width: 40px;
  transition: all 0.1s ease-in;
}
.instagram:hover {
  transform: scale(1.2);
}
.phone-number {
  font-size: 1rem;
  color: #f4f3ee;
}
/* CONTAINER */

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 40px;
  z-index: 0;
  transition: 0.5s;
}
.main-active {
  transform: translateX(20%);
}

/* ABOUT */

.about {
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  text-align: end;
  font-size: 3rem;
  font-weight: 700;
  color: #b08968;
}

.text {
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 500;
  color: #7f5539;
  height: 300px;
  max-width: 1000px;
  margin: auto 0;
  align-self: center;

  padding: 0 30px;
}

/* EDUCATION */

.education {
  height: 800px;
}

/* EXPERIENCE */

.experience {
  height: 800px;
}

/* SKILLS */

.skills {
  height: 800px;
}
/* FOOTER */
